body html{
  display: contents;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.ant-spin-dot{
  position: fixed; /* or absolute */
  top: 45%;
}

.ant-spin-spinning {
  width: 100%;
  height: 100%;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap-login100 {
  width: 470px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 26px;
  /*padding: 77px 55px 33px 55px;*/
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.dashboard-container{
  height: 100%;
}
.float-right{
  float: right;
}

.right-margin-25{
  margin-right: 25px;
}

.ant-layout-header .ant-avatar{
  cursor: pointer;
}

.form_button_group{
  margin-top: 50px;
}

.form_button_group .ant-space {
  float: right;
}
.login-container{
  max-width: 500px;
  margin: auto;
}
.dashboard-card{
  margin-top: 20px!important;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.ant-layout-sider-children .logo {
  margin: 14px;
  height: 36px;
  background-image: url("image/Shape.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-header .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.ant-input-group-addon{
  padding: 0!important;
}
.ant-layout-content.site-layout-background{
  display: table;
}